<div class="jumbotron">
  <div class="container">
    <span class="glyphicon glyphicon-list-alt"></span>
    <h2>RecipeInJa</h2>
    <div class="box">
       <input type="text" placeholder="Name">
       <input type="text" placeholder="Profession">
        <input type="text" placeholder="Email">
	    <input type="password" placeholder="Password">
	    <button class="btn btn-secondary full-width"><span class="glyphicon glyphicon-ok"></span>Sign-Up</button>
    </div>
  </div>
</div>
