
    <div class="container">
      <div class="py-5 text-center">
        <h2>Scan Document</h2>
        <p class="lead">
Please upload your document below
        </p>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Status</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <!-- ngif  -->
                <small class="text-success">Your document was uploaded</small>
                            <br>
                <small class="text-danger">Your document was not uploaded</small>


              </div>
            </li>
          </ul>

        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Documents type must be PDF or Image File</h4>
          <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Attachment</label>
                <input type="file" class="form-control btn btn-secondary" id="file-name" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Upload</label>
                <button class="form-control btn btn-secondary">Upload Documents</button>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>


            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">File</th>
                    <th scope="col">Type</th>
                  <th scope="col">Date Created</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><a href="#">DavidDriversLicense</a></th>
                  <th scope="col">PDF</th>
                  <td>May 11, 2018</td>
                  <td><button class="btn btn-outline-success btn-sm">View</button><button class="btn btn-outline-info btn-sm">Update</button><button class="btn btn-outline-danger btn-sm">Remove</button> </td>
                </tr>
                <tr>
                  <th scope="row"><a href="#">DavidDriversPassPort</a></th>
                  <th scope="col">PNG</th>
                  <td>September 11, 2018</td>
                  <td><button class="btn btn-outline-success btn-sm">View</button> <button class="btn btn-outline-info btn-sm">Update</button><button class="btn btn-outline-danger btn-sm">Remove</button></td>
                </tr>
                <tr>
                  <th scope="row"><a href="#">DavidBusinessCert</a></th>
                  <th scope="col">PDF</th>
                  <td>November 11, 2018</td>
                  <td><button class="btn btn-outline-success btn-sm">View</button> <button class="btn btn-outline-info btn-sm">Update</button><button class="btn btn-outline-danger btn-sm">Remove</button> </td>
                </tr>
              </tbody>
            </table>

          </form>
        </div>
      </div>
