<div class="jumbotron">
  <div class="container">
    <span class="glyphicon glyphicon-list-alt"></span>
    <h2>Password Reset</h2>
    <div class="box">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">
	    <button class="btn btn-secondary full-width"><span class="glyphicon glyphicon-ok"></span>Send Reset Link</button>
    </div>
  </div>
</div>
