<div class="jumbotron">
  <div class="container">
    <span class="glyphicon glyphicon-list-alt"></span>
    <h2>RecipeInJa</h2>
    <div class="box">
        <input type="text" placeholder="username">
	    <input type="password" placeholder="password">
	    <button class="btn btn-secondary full-width"><span class="glyphicon glyphicon-ok"></span>Sign-In</button>
    </div>
  </div>
</div>
