/* You can add global styles to this file, and also import other style files */



/* @media (min-width:1200px) {
    .header-container {
        max-width: 1140px
    }
} */

.logo-navbar-middle {
  position: absolute;
  width:10%;
  right: 0;
  left:0;
  top: 0;
  text-align: center;
  margin: auto;
  padding:0px;
}


.carousel-inner img {
    width: 100%;
    height: 100%;
}

div, h1, p {margin: 0;}

section {
    padding: 8rem 0;
}



/* Login */

.jumbotron {
	text-align: center;
	width: 30rem;
	border-radius: 0.5rem;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: 4rem auto;
	background-color: #fff;
	padding: 2rem;
}

.container .glyphicon-list-alt {
	font-size: 10rem;
	margin-top: 3rem;
	color: #f96145;
}

input {
	width: 100%;
	margin-bottom: 1.4rem;
	padding: 1rem;
	background-color: #ecf2f4;
	border-radius: 0.2rem;
	border: none;
}
h2 {
	margin-bottom: 3rem;
	font-weight: bold;
	color: #ababab;
}
.btn {
	border-radius: 0.2rem;
}
.btn .glyphicon {
	font-size: 3rem;
	color: #fff;
}
.full-width {

	width: 100%;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.box {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 10rem;
	margin-left: 3rem;
	margin-right: 3rem;
}
