

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item" *ngFor="let links of navLinks">
                  <a class="nav-link" href="{{links}}"> {{links}}</a>
                </li>
              <li><a href="#">
                <img class="logo-navbar-middle" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/32877/logo-thing.png" alt="Logo Thing main logo"></a>
              </li>
              </ul>

              <ul class="navbar-nav">
                <li class="nav-item ">
                  <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Login
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="login">Sign-In</a>
                    <a class="dropdown-item" href="register">Register</a>
                  </div>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>
              </ul>
            </div>
            </div>
  </nav>
